.table {
  width: 100%;
  border-spacing: 0 16px;

  td,
  th {
    text-align: left;
    padding: 8px;

    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
  }

  td {
    border: 1px solid var(--NEUTRAL_50);
  }

  td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  th {
    color: var(--YELLOW_500);
  }

  tbody {
    tr {
      transition: filter 0.2s;
    }

    tr:hover {
      filter: brightness(0.6);
    }
  }
}

.bdLeftNone {
  border-left: none !important;
}

.bdRightNone {
  border-right: none !important;
}

.bdLeftRightNone {
  border-right: none !important;
  border-left: none !important;
}
