.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 1px solid var(--NEUTRAL_50);
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;

  span {
    display: inline-block;
    position: relative;
    padding: 0 0.5rem;
    height: 5rem;
    line-height: 5rem;
    color: var(--NEUTRAL_200);

    transition: 0.2s;

    & + a {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--NEUTRAL_50);
    }

    &.active {
      color: var(--NEUTRAL_50);
      font-weight: bold;
    }

    &.active::after {
      content: '';
      height: 3px;
      border-radius: 3px 3px 0 0;
      width: 100%;
      position: absolute;
      bottom: 1px;
      left: 0;
      background-color: var(--YELLOW_500);
    }
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  color: var(--YELLOW_500);
}
