.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
}

.img {
  width: 170px;
  height: 60px;
}

.address {
  color: var(--NEUTRAL_200);
  font-size: 16px;
}
