* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --NEUTRAL_50: '#FFF';
  --NEUTRAL_100: '#e1e1e6';
  --NEUTRAL_200: '#a8a8b3';

  --DARK_50: '#323238';
  --DARK_100: '#29292e';
  --DARK_200: '#1f2729';
  --DARK_300: '#121214';

  --ERROR: '#d52c2d';

  --CYAN_500: '#61dafb';
  --YELLOW_400: '#f5c750';
  --YELLOW_500: '#f5c400';
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--DARK_300);
  color: var(--NEUTRAL_50);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: 'Helvetica Neue', 'Arial', 'Sans-Serif';
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
